rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isValidSubscriptionDoc() {
      return request.resource.data.keys().hasOnly(['details', 'lastSeen'])
        && request.resource.data.keys().hasAll(['details', 'lastSeen'])
        && request.resource.data.details is string
        && request.resource.data.lastSeen == request.time
        && request.resource.data.details.size() <= 4000;
    }

    match /subscriptions/{subscription} {
      allow read, delete: if true;
      allow create, update: if isValidSubscriptionDoc();
    }
    match /subscriptions {
      allow list: if false;
    }
  }
}
